.color-1 {
    color: darkred;
}

/* RedGreenBlue */
/* 00-ff */
.color-2 {
    color:#000000;
}
.color-3 {
    color: #ddd;
}
/* 0-255 */
.color-4 {
    color: rgb(255, 171, 0);
}

/* 0.0-1.0 */
.color-5 {
    color: rgba(150, 0, 0, 1);
}